.medical-history1{
  max-width: var(--content-max-width);
  margin: 0 auto 16px;

  .instruction-text {
    font-size: 0.85em;
    color: var(--black-main);
    font-style: italic;
    margin-bottom: 12px;
  }

  textarea {
    font-size: 14px;
  }
  textarea:disabled {
    background-color: var(--gray-main);
  }
}