.record-viewer--instruction-text {
  font-size: 0.85em;
	color: var(--black-sub);
  font-style: italic;
  margin-top: 8px;
}

.record-viewer--details-section {
  max-width: var(--content-max-width);
	margin: 0 auto 16px;
}

/* Hide empty table head */
.record-viewer--details-section .ant-table-thead {
  display: none;
}

.record-viewer--details-section .ant-table-cell {
  padding-top: 8px;
  padding-bottom: 8px;
}