.change-pw--cont {
  max-width: var(--content-max-width);
  margin: 0 auto 16px;
}

.change-pw-success--cont {
  max-width: var(--content-max-width);
  margin: 0 auto 16px;

  .change-pw-success--icon {
    margin: 16px auto;
    width: 150px;
    height: 150px;

    svg {
      width: 100%;
      height: 100%;
      color: var(--green-light);
    }
  }

  .change-pw-success--text {
    text-align: center;
  }
}