
.calendar-viewer--date-range-section,
.calendar-viewer--calendar-section {
  max-width: var(--content-max-width);
	margin: 0 auto 16px;
}

.calendar-viewer--instruction-text {
  font-size: 0.85em;
	color: var(--black-sub);
  font-style: italic;
  margin-bottom: 4px;
}


.calendar-viewer--date-range-section .ant-picker-range {
  width: calc(100% - 70px);
  margin-right: 0;
  height: 40px;
}
.calendar-viewer--date-range-section button.ant-btn { width: 70px; }


/* Calendar dropdown current selected one bg */
.calendar-viewer--calendar-section .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--green-light);
}
/* Hide calendar month/year switch */
.calendar-viewer--calendar-section .ant-picker-calendar .ant-picker-calendar-mode-switch {
  display: none;
}
/* Un-highlight calendar today since it is meanless */
.calendar-viewer--calendar-section .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  color: unset;
  background: unset;
}
/* Grayer disabled dates with original style removed */
.calendar-viewer--calendar-section .ant-picker-cell.ant-picker-cell-disabled {
  background-color: var(--white-main);
}
.calendar-viewer--calendar-section .ant-picker-cell.ant-picker-cell-disabled::before {
  background-color: transparent;
}
.calendar-viewer--calendar-section .ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
.calendar-viewer--calendar-section .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner {
  background: transparent;
}
/* More visible available dates */
.calendar-viewer--calendar-section .ant-picker-cell:not(.ant-picker-cell-disabled) {
  background-color: var(--green-sub);
  color: var(--white-main);
}
.calendar-viewer--calendar-section .ant-picker-cell:not(.ant-picker-cell-disabled):hover {
  background-color: var(--green-main);
}
