.login--page-cont {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;

  background-color: var(--green-main);
}

.login--page-title {
  width: 200px;
  max-width: var(--content-max-width);
  margin: 24px auto;

  .title--logo-cont {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .title--text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--white-main);
  }
}

.login--login-form {
  max-width: var(--content-max-width);
  margin: 24px auto;

  .adm-list-body{
    background-color: transparent;
    border: none;
    padding: 0 16px;
  }

  .adm-list-item-content-prefix{
    width: 40px;
    text-align: center;
    border-right: 1px solid #fff;
    background-color: var(--gray-sub);
    padding:10px 0 0 0;

    label {
      line-height: 35px;
      svg { color: var(--black-main); }
    }

    .adm-form-item-required-asterisk { display: none; }
  }

  .adm-list-item-content{
    height: 35px;
    border: 1px solid #fff;
    margin-bottom: 20px;
    background-color: var(--white-main);
    .adm-input-element{
      position: relative;
      padding-left: 4px;
      bottom: 7px;
    }
    .adm-input-clear{
      position: relative;
      bottom: 7px;
    }
  }
  .adm-list-item.adm-form-item{
    padding: 0;
    // height: 40px;
  }

  .adm-form-item-footer{
    margin-top: 12px;
  }

  .adm-list-item-description {
    position: absolute;
    bottom: -18px;
    .adm-form-item-feedback-error {
      color: var(--red-dark);
    }
  }

  .adm-form-footer {
    padding-top: 4px;
  }

  .adm-button.adm-button-primary {
    background-color: var(--green-darker);
    border-color: var(--green-sub);
    color: var(--white-main);
  }
}

.login--no-account-prompt {
  max-width: var(--content-max-width);
  margin: 24px auto;

  p {
    text-align: center;
    margin: 0;
    color: var(--white-main);

    a {
      margin-left: 0.25em;
      font-weight: bold;
      color: var(--white-main);
      text-decoration: underline;
    }
  }
}


