.person-information{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #1DB860;
  .create-account{
    width: 100%;
    // text-align: center;
    background-color: #fff;
    padding-top: 10px;
  }
}
.continue-btn{
  background-color: #fff;
  padding: 15px 0;
  text-align: center;
  span{
    display: inline-block;
    width: 60%;
    height: 40px;
    background-color: #1DB860;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border: 1px solid #3A62D7;
  }
}

.content{
  background-color: #1DB860;
  padding-bottom: 30px;
}