

.teams--list-section,
.teams--button-cont {
	max-width: var(--content-max-width);
	margin: 0 auto 8px;
}


.teams--instruction-text {
	font-size: 0.85em;
	color: var(--black-sub);
	font-style: italic;
}


.teams--button-cont .ant-btn {
	margin: 0 16px 16px;
	width: calc( 100% - 32px );
}

.teams--create-confirm-btn {
  margin-top: 20px;
}