.medical-history{
  max-width: var(--content-max-width);
  margin: 0 auto 16px;

  .instruction-text {
    font-size: 0.85em;
    color: var(--black-main);
    font-style: italic;
    margin-bottom: 12px;
  }

  .adm-grid .adm-grid-item:nth-child(2) > .adm-list-item > .adm-list-item-content > .adm-list-item-content-main {
    margin-top: 28px;
  }
  .adm-grid .adm-grid-item:nth-child(3) {
    margin-left: 4px;
    padding-top: 38px;
  }
}