.concussion-history{
  max-width: var(--content-max-width);
  margin: 0 auto 16px;


  .radio-component .input-wrapper {
    input[type=number] {
      margin-left: 0;
    }

    // Disable arrow for number input
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  // A hacky way to put the unit on the right position
  .radio-component .input-wrapper .unit {
    // float: right;
    bottom: 14px;
    left: 60px;
  }
  .radio-component .input-wrapper .adm-form-item-has-error + .unit {
    bottom: 38.4px;
  }

  .concussion-history--conc-symp-desc.adm-input.adm-input-disabled {
    background-color: var(--gray-main);
    opacity: 1;
  }
  .concussion-history--conc-symp-desc.adm-input.adm-input-disabled input::placeholder {
    color: transparent;
  }
}