.injury-history{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #1DB860;
  padding-bottom: 20px;
  .wrapper{
    background-color: #fff;
    padding: 20px;
    .injury-history-title{
      width: 95%;
      font-size: 16px;
      text-align: left;
    }
    .tip{
      width: 90%;
      text-align: right;
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
  
}