.reset-pw--cont {
  max-width: var(--content-max-width);
  margin: 0 auto 16px;

    .reset-pw--new-pw-input.adm-input-disabled {
      color: var(--black-main);
      opacity: 1;

      .adm-input-element {
        font-weight: bold;
      }
    }

    .reset-pw--new-pw-prompt {
      margin-top: 12px;
      color: var(--red-reder);
      font-style: italic;
    }
}
