.home--cont {
    width: 100%;
    height: 100%;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}
.home--cont > .anchor-block {
    margin-top: 12px;
    display: block;
    width: calc( 50% - 12px );
    height: 140px;
    background-color: var(--green-dark);
    color: var(--white-main);
}
.home--cont > .anchor-block:active {
    background-color: var(--green-dark);
}
.home--cont > .anchor-block.anchor-block__full-size {
    width: calc( 100% - 12px );
}
.home--cont > .anchor-block .anchor-block--icon-cont {
    width: 90px;
    height: 90px;
    margin: 10px auto;
}
.home--cont > .anchor-block .anchor-block--icon-cont .anticon,
.home--cont > .anchor-block .anchor-block--icon-cont svg {
    width: 100%;
    height: 100%;
}
.home--cont > .anchor-block .anchor-block--text {
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
}
